
<html>
<head>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>    
</head>
<body>

<!-- 基本示例 -->

<script>

// 定义一个名为 button-counter 的新组件
Vue.component('button-counter', {
  data: function () {
    return {
      count: 0
    }
  },
  template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
})
</script>

<div id="components-demo">
  <button-counter></button-counter>

  <button-counter></button-counter>
  <button-counter></button-counter>  
</div>

<script>
new Vue({ el: '#components-demo' })
</script>

<!-- 组件的复用 -->

<!-- 当我们定义这个 <button-counter> 组件时，一个组件的 data 选项必须是一个函数。 -->
<!-- 如果 Vue 没有这条规则，点击一个按钮就可能会影响到其它所有实例   -->

<!-- 通过Pro向子组件传递数据 -->

<script>
Vue.component('blog-post', {
  props: ['title'],
  template: '<h3>{{ title }}</h3>'
})
</script>

<div id="blog-post">
  <blog-post title="My journey with Vue"></blog-post>
  <blog-post title="Blogging with Vue"></blog-post>
  <blog-post title="Why Vue is so fun"></blog-post>  
</div>

<script>
  new Vue({ el: '#blog-post' })
</script>

<!-- 复杂一点 -->

<div id="blog-post-demo">
  <blog-post
  v-for="post in posts"
  v-bind:key="post.id"
  v-bind:title="post.title"
></blog-post>
</div>

<script>
  new Vue({
    el: '#blog-post-demo',
    data: {
      posts: [
        { id: 1, title: 'My journey with Vue' },
        { id: 2, title: 'Blogging with Vue' },
        { id: 3, title: 'Why Vue is so fun' }
      ]
    }
  })  
</script>

<!-- 单个根元素 -->
<!-- every component must have a single root element (每个组件必须只有一个根元素)。 -->

<script>
Vue.component('blog-post2', {
  props: ['post'],
  template: `
    <div class="blog-post2">
      <h3>{{ post.title }}</h3>
      <div v-html="post.content"></div>
    </div>
  `
})
</script>

<div id="blog-post2">
  <blog-post2
  v-for="post in posts"
  v-bind:key="post.id"
  v-bind:post="post"
></blog-post2>
</div>

<script>
  new Vue({
    el: '#blog-post2',
    data: {
      posts: [
        { id: 1, title: 'My journey with Vue',content:"one" },
        { id: 2, title: 'Blogging with Vue' ,content:"two"},
        { id: 3, title: 'Why Vue is so fun' ,content:"three"}
      ]
    }
  })  
</script>

<!-- 监听子组件事件 -->

<script>
Vue.component('blog-post', {
  props: ['post'],
  template: `
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <button v-on:click="$emit('enlarge-text', 0.1)">
        Enlarge text
      </button>
      <div v-html="post.content"></div>
    </div>
  `
})
</script>

<div id="blog-posts-events-demo">
  <div :style="{ fontSize: postFontSize + 'em' }">
    <blog-post
      v-for="post in posts"
      v-bind:key="post.id"
      v-bind:post="post"
      v-on:enlarge-text="postFontSize += $event"
    ></blog-post>
  </div>
</div>

<script>
new Vue({
  el: '#blog-posts-events-demo',
  data: {
    posts: [
        { id: 1, title: 'My journey with Vue',content:"one" },
        { id: 2, title: 'Blogging with Vue' ,content:"two"},
        { id: 3, title: 'Why Vue is so fun' ,content:"three"}
      ],
    postFontSize: 1
  }
})
</script>

<!-- 在组件上使用 v-model -->



</body>
</html>